<div class = 'book-info-box'>
  <!-- LOADING SCREEN -->
  <!-- <div id="modal-load-screen" class="invisible">
    <div id="load">
      <img src="./img/ellipsis.gif" alt="loading screen" />
    </div>
  </div> -->

  <div class="top-box">
      <div class="image-box">
        <img src="{{thisBook.volumeInfo.imageLinks.small}}" alt="Book Cover" />
      </div>
      <div class="info-info-box">
        <h2>{{thisBook.volumeInfo.title}}</h2>
        <h4>{{thisBook.volumeInfo.subtitle}}</h4>
        <h4>{{thisBook.volumeInfo.authors[0]}}</h4>
        <p>{{thisBook.volumeInfo.description}}</p>
        <p><em>{{thisBook.volumeInfo.saleInfo.retailPrice.amount | currency}}</em></p>
      </div>
    </div>

    <div class="info-button-box">
      <button class="add-button" ng-click="addBookToShelf(book)">Add to Shelf</button>
      <a ng-click="resetModal()"><button type="button" ui-sref="recommend({bookId:thisBook.id})">Get recommendations</button></a>
      <a target="_blank" ng-href="https://www.amazon.com/gp/search/ref=sr_adv_b/?search-alias=digital-text&unfiltered=1&field-keywords=&field-author={{thisBook.volumeInfo.authors[0]}}&field-title={{thisBook.volumeInfo.title}}&field-publisher=&node=&field-subject=&field-language=&field-dateop=&field-datemod=&field-dateyear=&sort=relevanceexprank&Adv-Srch-Books-Submit.x=0&Adv-Srch-Books-Submit.y=0"><button type="button">Shop on Amazon</button></a>
    </div>
    <div class="empty-mobile">

    </div>
</div>
