<form class="search-form" ng-submit='findResults(searchTerm)'>
  <input type="text" ng-model="searchTerm" placeholder="Book Name">
</form>

<section class="result-box">
  <div class="result-card" ng-repeat="result in results.items | limitTo: 10">
      <div class="clickable" ng-click="selectBook(result.id)" data-toggle="modal" data-target="#myModal">
        <h3>{{result.volumeInfo.title}}</h3>
        <h5>{{result.volumeInfo.authors[0]}}</h5>
      </div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body flex">
        <button type="button" class="close" aria-label="Close" data-dismiss="modal" ng-click="resetModal()"><span aria-hidden="true">&times;</span></button>

        <book-info book='book'></book-info>

      </div>
    </div>
  </div>
</div>

</section>

<!-- ui-sref="recommend({bookId:result.id})" -->
