
.body {
  background: #eee;
}
header {
  background-color: rgba(12, 12, 12, 0.85);
  padding: 20px;
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
header img {
  height: 4vh;
}
.logo-box {
  cursor: pointer;
  margin-top: 5px;
}

.desktop-nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.desktop-nav li a {
  color: #eee;
  letter-spacing: 1px;
  font-size: 1.25em;
}
.desktop-nav li {
  font-family: 'Istok Web', 'Open Sans';
  text-transform: uppercase;
  margin: 0 50px 0 0;
  padding: 10px;
  border: solid rgba(255, 0, 0, 0.0) 1px;
}
.desktop-nav a {
  text-decoration: none;
}
.desktop-nav li:hover {
  cursor: pointer;
  border: solid #eee 1px;
}
.clickable {
  cursor: pointer;
}

footer {
  height: 10vh;
  width: 100%;
  background: rgb(42, 50, 52);
  position: absolute;
  top: 90vh;
  font-size: .7em;
  display: flex;
  justify-content: space-around;
  line-height: .8em;
  text-align: center;
  align-items: center;
}

footer p, a {
  color: #555;
  font-weight: normal;
}
footer a {
  line-height: 1.5em;
}

.slider {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slider.ng-enter,
.slider.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    z-index: -1;
}
.slider.ng-enter {
    left: 100%;
    z-index: -1;
}
.slider.ng-enter-active {
    left: 0;
    z-index: -1;
}
.slider.ng-leave {
    left: 0;
    z-index: -1;
}
.slider.ng-leave-active {
    left: -100%;
    z-index: -1;
}

@media (min-device-width: 639px) {
  .dropdown-toggle {
    display: none;
  }
}
