<section class="chosen-book">
  <div class="book-pic">
    <img src="{{baseBook.volumeInfo.imageLinks.small}}" alt="" />
  </div>
</section>
<section class="recommendations">
  <div class="rec-box">
    <div class="rec-card clickable" ng-repeat="recommendation in recommendations">
      <div data-toggle="modal" data-target="#recModal" ng-click="selectBook(recommendation.id)">
        <div class="rec-info">
          <img src="{{recommendation.volumeInfo.imageLinks.thumbnail}}" alt="" />
          <div class="rec-text">
            <h2>{{recommendation.volumeInfo.title}}</h2>
            <h3>{{recommendation.volumeInfo.authors[0]}}</h3>
          </div>

        </div>
      </div>
      <hr>
      <div id="recModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body flex">
              <button type="button" class="close" aria-label="Close" data-dismiss="modal" ng-click="resetModal()"><span aria-hidden="true">&times;</span></button>

              <book-info book='book'></book-info>

            </div>
          </div>
        </div>
      </div>
      <div class="empty">

      </div>
    </div>
  </div>
</section>
